.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 1rem;
    
    table {
      width: 100%;
      td {
        width: 100% !important;
        padding: 0 0 1rem;
      }
      
      input{
        display: flex;
        min-height: 2.5rem;
        padding: 0.5rem 1rem;
        align-items: center;
        max-width: 15rem;
        
        color: #FFF !important;
        border-radius: 0.5rem;
        border: 2px solid #FFF;
        background: #000;
        
        &::placeholder{
          color: #636363;
        }
      }
      
      .radio {
        label {
          display: inline-block;
          align-items: center;
          margin-right: 1rem;
      
          img {
            display: inline-block;
            margin-right: 0.325rem;
          }
      
          span {
            font-size: 1rem;
            color: #fff;
          }
        }
      }
      
      
      .formRow{
        padding-top: 1rem;
        
        .checkboxContainer {
          display: flex;
          align-items: flex-start;
          gap: 0.5rem;
          margin-bottom: 1rem;
          word-break: keep-all;
          
          input {
            margin-top: 0.3rem;
            min-height: unset;
          }
        }
      }
    }

    .btn {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;

      color: #FFF;
      background-color: #000;
      border: 2px solid #fff;
      border-radius: var(--border-radius-8);
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      padding: 0.5rem 1rem;
    
      &:hover {
        background-color: #636363;
        color: #000;
      }
    }
    
    
  }
}

