.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;

  .where{
    width: 100%;
    border: 2px solid #fff;
    border-radius: var(--border-radius-8);
    display: flex;
    min-height: 2rem;
    justify-content: center;
    align-items: center;
    line-height: 1;
  }

  .imgBox{
    max-height: 15.875rem;
    border: 2px solid #fff;
    border-radius: var(--border-radius-8);
    
    img{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      border-radius: var(--border-radius-8);
    }
  }

  .textBox{
    display: flex;
    // height: 12.5rem;
    min-height: 12.5rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 2px solid #FFF;
    background: #000;

    p{
      align-self: stretch;
      font-size: var(--font-size-16);
      font-style: normal;
      font-weight: 500;
      line-height: 1.5rem; /* 150% */
      word-break: keep-all;
    }

    .choiceBox{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.325rem;
      margin-bottom: 1rem;
    }

    button{
          width: 100%;
          color: #FFF;
          background: #000;
          white-space: nowrap;
          text-align: start;
          padding-left: 1rem;
          border: 2px solid #000;
          
          &:hover{
            border-radius: 0.25rem;
            border: 2px solid #FFF;

          }
    }
  }


  .popup{
    border: 2px solid #fff;
    background-color: #000;
    border-radius: var(--border-radius-8);
    position: absolute;
    top: 40%;
    min-width: 17rem;
    min-height: 8rem;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button{
      border-radius: 0.25rem;
      border: 2px solid #FFF;
      color: #FFF;
      background: #000;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

      &:hover{
        background-color: #636363;
      }
    }
  }
}