.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;


  .coin{
    position: absolute;
    background-color: #000;
    border: 2px solid #FFF;
    padding: 0.5rem;
    border-radius: var(--border-radius-8);
    right: 16px;
    top: 56px;

    display: flex;;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    font-family: 'DungGeunMo';
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;

  }

  .c01{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .imgBox{
      background-image: url(../../asset/img/shop.png);
      
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 6.25rem;
      gap: 0.625rem;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .textBox{
      display: flex;
      padding: 1rem 1.5rem;
      justify-content: space-between;
      align-items: end;
      align-self: stretch;
      border-radius: 0.5rem;
      border: 2px solid #FFF;
      background: #000;
    }
  }

  .c02{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    
    .productList {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개씩 */
      gap: 1rem;
      max-height: 15rem;
      overflow-y: auto;
      overflow-x: hidden;
    
      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 0.5rem;
        gap: 0.5rem;
        transition: opacity 0.3s ease;

        font-family: 'DungGeunMo';
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;

        &:hover{
          opacity: 0.7;
        }
      }
    }
    
    
    
    .productInfo{
      border: 2px solid #fff;
      border-radius: var(--border-radius-8);
      display: flex;
      gap: 1rem;
      padding: 1rem;
      
      .imgBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        font-family: 'DungGeunMo';
        color: #FFF;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;

        img{
          height: 64px;
          margin-bottom: 0.3rem;
        }
      }
      
      .infoMore{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .productN{
          font-size: 1.25rem;
        }
        .productD{
          word-break: keep-all;
        }
        .btn{
          display: flex;
          align-items: center;
          gap: 0.5rem;
          align-self: stretch;
          width: 100%;

          button{
            display: flex;
            width: 100%;
            justify-content: center;
            border-radius: 0.25rem;
            border: 2px solid #FFF;
            color: #FFF;
            background: #000;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
            white-space: nowrap;

            &:hover{
              background-color: #636363;
            }
          }
        }
      }
    }
  }
}


.popup {
  border: 2px solid #FFF;
  background: #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  border-radius: var(--border-radius-8);
  position: fixed;
  width: 80%;
  max-width: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  z-index: 1000; 

  .popupContent{
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 0.5rem;
    word-break: keep-all;

    h2{
      font-size: var( --font-size-20);
    }

    .btn{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 100%;
      }
    
    .userList {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 8px;
      max-height: 200px;
      overflow-y: auto;
    
      .userItem {
        padding: 10px;
        background: #000;
        border-radius: 5px;
        text-align: center;
        transition: background 0.2s, transform 0.1s;
        cursor: pointer;
    
        &:hover {
          background: #636363;
        }
    
        /* 선택된 유저 스타일 */
        &.selected {
          background: #000 !important;
          color: white;
          font-weight: bold;
          border: 2px solid #FFF;
        }
      }
    }
    
    
    

    button{
      border-radius: 0.25rem;
      border: 2px solid #FFF;
      color: #FFF;
      background: #000;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      padding: 0.2rem 0.7rem;

      &:hover{
        background-color: #636363;
      }
    }
  }
}