@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


:root{
  /* font-size */
  --font-size-28: 1.75rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;

  /* border-radius */
  --border-radius-32: 2rem;
  --border-radius-16: 1rem;
  --border-radius-8: 0.5rem;
  --border-radius-4: 0.25rem;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Galmuri9', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #000;

  cursor: url('./asset/util/cursor.png'), default;
}

/* cursor스타일 */
a, button, .cursorPointer {
  cursor: url('./asset/util/cursor_pointer.png'), pointer !important;
}
/* span:hover, p:hover {
  cursor: url('./asset/util/cursor_text.png'), pointer;
} */


::-webkit-scrollbar {
width: 8px;
}
::-webkit-scrollbar-track {
background: #000;
}
::-webkit-scrollbar-thumb {
background: #636363;
border-radius: var(--radius-10, 0.625rem);
}
::-webkit-scrollbar-thumb:hover {
background: var(--CL-blue, #fff);
}


::selection {
  background: #C7C9CE; 
  color: #ac141e;
}

a {
  color: #fff;
  text-decoration: none;
}